/* Add here all your CSS customizations */
#header .header-container {
	background-color: #2e328a;
}

#header .top-menu {
	z-index: 33;
}
#header .top-menu ul li
{
	width: 150px;
}

#header .custom-block {
	margin-right: 40px;
}

#header .header-container {
	padding-top: 20px;
	padding-bottom: 20px;
}

html #header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary .dropdown-menu {
	background-color: #ffffff;
}

html #header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary .dropdown-menu li a {
    color: #777;
    border-bottom-color: #777;
}
html #header .header-nav-main nav > ul > li.dropdown-full-color.dropdown-primary .dropdown-menu li a:hover {
    color: #fff;
}

